<h1 class="text-white text-center mt-8 mb-2">Paper</h1>
<p class="text-white text-center text-md mb-16 md:px-32">Are you tired of wasting paper or are you tired of touching the pen to enter your data? Then create a participant list with <b>Paper</b>.</p>

<button type="button" {{on 'click' this.createList}} class="transition duration-500 no-underline ease-in-out bg-blue hover:bg-blue-dark text-white font-bold py-4 px-8 rounded-full">
  CREATE A LIST
</button>